torch==2.1.2
torchvision==0.16.2
xformers==0.0.23.post1
numpy==1.24.1
diffusers==0.11.1
transformers==4.25.1
imageio==2.27.0
decord==0.6.0
gdown
einops
omegaconf
safetensors
gradio
wandb
omegaconf
accelerate
triton
positional_encodings
opencv-python
scikit-image
deepspeed
peft
ftfy
imageio[ffmpeg]
imageio[pyav]
